# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib
*.bin

# Vendor directory
/vendor/

# SwaggerUI
docs

# Config files
*.env
*.env-docker
*.yaml
*.toml
*.ini

# Config files, but examples
!*.example.yaml

# IDE/editor files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# System files
.DS_Store
Thumbs.db

# Logs and cache
*.log
*.out
*.log.*
*.cache
*.tmp
*.swp

# Build files
main
